{% import 'items/container.html' as c %}

{% macro render(section) %}
<header>
  <img class="icon" src="/static/images/deck.png" />
  <h3>Deck</h3>
</header>

<div id="containers">
	{% for container in section %}
	<div id="deck.{{ loop.index0 }}" class="grouping">
		{{ c.draw(container, section[container]) }}
	</div>
	{% endfor %}
</div>

<a type="container" href="javascript:void(0);" class="add" onclick="edit_add('deck');">New Container</a> 
<!-- <a type="container" href="javascript:void(0);" id="NewContainer" class="add">New Container</a>  -->
{% endmacro %}