{% import 'helpers/keyvalue.html' as kv %}
{% import 'helpers/deleter.html' as d %}

{% macro render(section) %}

<header>
  <img class="icon" src="/static/images/head.png" />
  <h3>Head</h3>
</header>

{% for tool in section %}
<div class="content">

  <div class="pipette">
    <span class="pipette-name">{{ tool }}{#{{ kv.single(value=tool) }}#}</span>
    <img src="/static/images/pipette.png" class="pipette" />
  </div>

  <div class="attr">
    {% for attr in section[tool] %}

    {% if ((loop.length/loop.index) < 2) and new_column is not defined %}
    <!-- this loop puts the information on a new column when it's half through -->
    {% set new_column = 1 %}
    </div>
    <div class="attr">
    {% endif %}

    
    {% if attr == 'tip-racks' %}
    
    <div class="key-value">
      <span class="key">{{ attr }}</span>
      {% for location in section[tool][attr] %}
      {{ kv.single(value=location.container) }}
      {% endfor %}
    </div>

    {% elif attr == 'trash-container' %}
    {{ kv.pair(key=attr, value=section[tool][attr].container)}}
  
    {% elif attr != 'points' %}
    {{ kv.pair(key=attr, value=section[tool][attr]) }}
    {% endif %}

    {% endfor %}
  </div>

  {{ d.draw() }}
</div>
{% endfor %}

{% endmacro %}