{% import 'helpers/keyvalue.html' as kv %}
{% import 'helpers/edit.html' as editor %}

{% macro render(section) %}

<header>
  <img class="icon" src="/static/images/head.png" />
  <h3>Head</h3>
</header>

{% for tool in section %}
<div class="content">

  <div class="pipette">
    <span class="pipette-name">{#{{ editor.edit(value=tool) }}#}{{ tool }}</span>
    <img src="/static/images/pipette.png" class="pipette" />
  </div>

  <div class="attr">
    {% for attr in section[tool] %}

    {% if ((loop.length/loop.index) < 2) and new_column is not defined %}
    <!-- this loop puts the information on a new column when it's half through -->
    {% set new_column = 1 %}
    </div>
    <div class="attr">
    {% endif %}

    {% if attr == 'tip-racks' %}
    <div class="mini-block">{{ attr }}
      {% for location in section[tool][attr] %}
      {{ kv.pair(key='container', value=location.container) }}
      {% endfor %}
    </div>

    {% elif attr == 'trash-container' %}
    <div class="mini-block">{{ attr }}
      {% for location in section[tool][attr] %}
      {{ kv.pair(key='container', value=location.container) }}
      {% endfor %}
    </div>

    {% elif attr != 'points' %}
    {{ kv.pair(key=attr, value=section[tool][attr]) }}
    {% endif %}

    {% endfor %}
  </div>

</div>
{% endfor %}

{% endmacro %}

<!-- 
{#
{% for tool in section %}
<div class="content">
  <span class="key">Name</span><span class="value">{{ tool }}</span>
  <img src="/static/images/pipette.png" class="pipette" />

  {% for attr in section[tool] %}

  {% if attr == 'tip-racks' %}

  {% elif attr == 'trash-container' %}

  {% elif attr == 'points' %}

  {% else %}
  <span class="key">{{ attr }}</span><span class="value">{{ section[tool][attr] }}</span>
  {% endif %}

  {% endfor %}

</div>
{% endfor %}

{% endmacro %}
#}
 -->