{% import 'helpers/edit.html' as editor %}

{% macro instructions(instrList, fileName) %} 
  <div class="row">
    <div class="col-md-6">
      <h3 class="UI-Title">Instructions</h3>
    </div>
    <div class="col-md-6 collapse-section">
      <span class="collapse-handle" style="cursor:pointer;">hide</span>
    </div>
  </div>

  {% for group in instrList %}
  {% set groupIndex = loop.index %}
  <div class="UI-sub-block-white instrBlock">
    <div class="row padded-sides">
      <div class="col-md-2">
        <img src="/static/images/tool.png" class="icon" />
      </div>
      <div class="col-md-8">
        {{ editor.edit(value=group.tool, blockName="instrTool") }}
      </div>
      <div class="col-md-2 hide-delete">
        <a href="javascript:void(0)" onclick="collapse('{{ group.tool }}', this);">hide</a> | 
        <a href="javascript:void(0)" onclick="removeDiv('instrBlock', this);">delete</a>
      </div>
    </div>
    <div id="{{ group.tool }}" class="{{ group.tool }}">
      {% for i in group.instr %}
      {% set instrIndex = loop.index %}
      <div class="action-block-gray moveBlock">
        <div class="row padded-sides">
          <div class="col-md-8">
            <table><tr>
            <td class="padded-sides"><b><i>Action Type:</i></b></td>
            <td class="move-icon-bar"><img src="/static/images/{{ i.type }}.png" class="icon" /></td>
            <td class="padded-sides"><div class="instrMove">{{ i.type }}</div></td>
            </tr></table>
          </div>
          <div class="col-md-2 move-number">
            <span class="move-number-label"> {{ group.tool }}: </span>{{ loop.index }}
          </div>
          <div class="col-md-2 hide-delete">
            <a href="javascript:void(0)" onclick="collapse('{{ group.tool }}_{{ instrIndex }}', this);">show</a> | 
            <a href="javascript:void(0)" onclick="removeDiv('moveBlock', this);">delete</a>
          </div>
        </div>

        <div id="{{ group.tool }}_{{ instrIndex }}" style="display:none;"> <!-- to hide the moves | HIDDEN BY DEFAULT -->
          {% for motion in i.moves %}
          {% set motionIndex = loop.index %}
          <div class="row padded-sides motionBlock">
            <div class="col-md-4">
              {% for location in motion.from %}
              <div class="UI-sub-block-white fromBlock">
              <img src="/static/images/from.png" class="icon">
                <div id="fromBlock_{{ group.tool }}_{{ motionIndex }}_{{ instrIndex }}_{{ loop.index }}">
                  {% for key, value in location.items() %}
                  <div class="row">
                    <div class="col-md-6">
                    {{ editor.edit(value=key, blockName="fromLocKey") }}
                    </div>
                    <div class="col-md-6">
                    {{ editor.edit(value=value, blockName="fromLocValue") }}
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <a href="javascript:void(0)" class="add-button" onclick="addLine('fromBlock_{{ group.tool }}_{{ motionIndex }}_{{ instrIndex }}_{{ loop.index }}', 'fromLocKey', 'fromLocValue');">Add Attribute</a>
              </div>
              {% endfor %}
            </div>
            <div class="col-md-4">
              {% for location in motion.to %}
              <div class="UI-sub-block-white toBlock">
              <img src="/static/images/to.png" class="icon">
                <div id="toBlock_{{ group.tool }}_{{ motionIndex }}_{{ instrIndex }}_{{ loop.index }}">
                  {% for key, value in location.items() %}
                  <div class="row">
                    <div class="col-md-6">
                    {{ editor.edit(value=key, blockName="toLocKey") }}
                    </div>
                    <div class="col-md-6">
                    {{ editor.edit(value=value, blockName="toLocValue") }}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              <a href="javascript:void(0)" class="add-button" onclick="addLine('toBlock_{{ group.tool }}_{{ motionIndex }}_{{ instrIndex }}_{{ loop.index }}', 'toLocKey', 'toLocValue');">Add Attribute</a>
              </div>
              {% endfor %}
            </div>
            <div class="col-md-4">
              <div class="UI-sub-block-white attrBlock">
              <img src="/static/images/attributes.png" class="icon">
                <div id="attrBlock_{{ group.tool }}_{{ motionIndex }}_{{ instrIndex }}">
                  {% for key, value in motion.other.items() %}
                  <div class="row">
                    <div class="col-md-6">
                    {{ editor.edit(value=key, blockName="otherAttrKey") }}
                    </div>
                    <div class="col-md-6">
                    {{ editor.edit(value=value, blockName="otherAttrValue") }}
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <a href="javascript:void(0)" class="add-button" onclick="addLine('attrBlock_{{ group.tool }}_{{ motionIndex }}_{{ instrIndex }}', 'otherAttrKey', 'otherAttrValue');">Add Attribute</a>
              </div>
            </div>
          </div>
          {% endfor %}

          {{ new_motion.new(fileName, i.type, instrIndex, groupIndex) }}

          <div class="tip-change-block">
            - - - - - <img src="/static/images/tipchange.png" class="tipchange" /> - - - - -
          </div>
        </div>
      </div>
      {% endfor %}

      <!-- add new motion buttons | EXPERIMENTAL -->
      <div class="row">
        <div class="add-in-place modalComponent mode-button">
          <div class="mode button">
            <div class="col-md-12 add-motion-button">
              <span class="add-handle" style="cursor:pointer;">Add Instruction</span>
            </div>
          </div>
          <div class="mode add">
            <div class="col-md-12" id="addInstructionType">
              <div class="add-move-block">
                <span class="padded-sides">New Instruction Type: </span>
                <div class="btn-group">
                  <button class="btn tron-white" onclick="toggleVisibility('add_transfer_{{ groupIndex }}', this.parentNode.parentNode.parentNode);">Transfer</button>
                  <button class="btn tron-white" onclick="toggleVisibility('add_distribute_{{ groupIndex }}', this.parentNode.parentNode.parentNode);">Distribute</button>
                  <button class="btn tron-white" onclick="toggleVisibility('add_consolidate_{{ groupIndex }}', this.parentNode.parentNode.parentNode);">Consolidate</button>
                  <button class="btn tron-white" onclick="toggleVisibility('add_mix_{{ groupIndex }}', this.parentNode.parentNode.parentNode);">Mix</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{ new_instr.new("transfer", fileName, groupIndex) }}
      {{ new_instr.new("distribute", fileName, groupIndex) }}
      {{ new_instr.new("consolidate", fileName, groupIndex) }}
      {{ new_instr.new("mix", fileName, groupIndex) }}

    </div>

  </div>
  {% endfor %}

{% endmacro %}