{% import 'helpers/keyvalue.html' as kv %}

{% macro render(section) %}

<header>
	<img class="icon" src="/static/images/instructions.png" />
	<h3>Instructions</h3>
</header>

{% for group in section %}
<div class="content">
	<img src="/static/images/tool.png" class="label" /> {{ group.tool }}

	{% for tip in group.groups %}
	<div class="action">

		{% if tip.transfer is defined %}
		<div class="action-title">
			<img src="/static/images/transfer.png" class="label" />
		</div>

		{% for move in tip.transfer %}
		<div class="action-attributes">
			<img src="/static/images/from.png" class="label" />
			{% for key in move.from %}
			{{ kv.pair(key=key, value=move.from[key] )}}
			{% endfor %}
		</div>

		<div class="action-attributes">
			<img src="/static/images/to.png" class="label" />
			{% for key in move.to %}
			{{ kv.pair(key=key, value=move.to[key] )}}
			{% endfor %}
		</div>

		<div class="action-attributes">
			<img src="/static/images/attributes.png" class="label" />
			{% for attribute in move %}
			{% if (attribute != 'from') and (attribute != 'to') %}
			{{ kv.pair(key=attribute, value=move[attribute] )}}
			{% endif %}
			{% endfor %}
		</div>
		{% endfor %}


		{% elif tip.distribute is defined %}
		<div class="action-title">
			<img src="/static/images/distribute.png" class="label" />
		</div>

		<div class="action-attributes">
			<img src="/static/images/from.png" class="label" />
			{% for key in tip.distribute.from %}
			{{ kv.pair(key=key, value=tip.distribute.from[key] )}}
			{% endfor %}
		</div>

		<div class="action-attributes">
			<img src="/static/images/to.png" class="label" />
			{% for location in tip.distribute.to %}
			<div class="action">
				{% for key in location %}
				{{ kv.pair(key=key, value=location[key] )}}
				{% endfor %}
			</div>
			{% endfor %}
		</div>

		<div class="action-attributes">
			<img src="/static/images/attributes.png" class="label" />
			{% for attribute in tip.distribute %}
			{% if (attribute != 'from') and (attribute != 'to') %}
			{{ kv.pair(key=attribute, value=tip.distribute[attribute] )}}
			{% endif %}
			{% endfor %}
		</div>
		

		{% elif tip.consolidate is defined %}
		<div class="action-title">
			<img src="/static/images/consolidate.png" class="label" />
		</div>

		<div class="action-attributes">
			<img src="/static/images/from.png" class="label" />
			{% for location in tip.consolidate.from %}
			<div class="action">
				{% for key in location %}
				{{ kv.pair(key=key, value=location[key] )}}
				{% endfor %}
			</div>
			{% endfor %}
		</div>

		<div class="action-attributes">
			<img src="/static/images/to.png" class="label" />
			{% for key in tip.consolidate.to %}
			{{ kv.pair(key=key, value=tip.consolidate.to[key] )}}
			{% endfor %}
		</div>

		<div class="action-attributes">
			<img src="/static/images/attributes.png" class="label" />
			{% for attribute in tip.consolidate %}
			{% if (attribute != 'from') and (attribute != 'to') %}
			{{ kv.pair(key=attribute, value=tip.consolidate[attribute] )}}
			{% endif %}
			{% endfor %}
		</div>
		

		{% elif tip.mix is defined %}
		<div class="action-title">
			<img src="/static/images/consolidate.png" class="label" />
		</div>

		{% for mix in tip.mix %}
		<div class="content">
			{% for attribute in mix%}
			{{ kv.pair(key=attribute, value=mix[attribute]) }}
			{% endfor %}
		</div>
		{% endfor %}

		{% endif %}

	</div>
	{% endfor %}

</div>
{% endfor %}

{% endmacro %}