@font-face {
  font-family: "Tron-Normal";
  src: url(fonts/Geogtq-Rg-webfont.woff2); }
@font-face {
  font-family: "Tron-Strong";
  src: url(fonts/Geogtq-Sb-webfont.woff2); }
@font-face {
  font-family: "Tron-Light";
  src: url(fonts/Geogtq-Ul-webfont.woff2); }
html, body, .container {
  font-family: "Tron-Normal";
  width: 1050px !important;
  margin-left: auto;
  margin-right: auto; }

a:link {
  color: #DDDDDD;
  text-decoration: none; }

a:visited, a:hover, a:active {
  color: #BBBBBB;
  text-decoration: none; }

button:disabled {
  color: #BBBBBB;
  background-color: #DDDDDD; }

input[type="text"]:focus {
  outline: none; }

img {
  margin-bottom: 5px; }

img.icon {
  height: 18px; }

img.pipette {
  height: 60px;
  padding-left: 15px; }

img.tipchange {
  height: 18px;
  text-align: center;
  margin-bottom: 0px; }

img.brand {
  height: 100%; }

.move-icon-bar {
  width: 50px;
  text-align: center; }

.hide-delete {
  color: #DDDDDD;
  text-align: right;
  font-style: italic; }

.padded-sides {
  padding-right: 20px;
  padding-left: 20px; }

.zebra:nth-of-type(odd) {
  background: #F8F8F8; }

.filename-block {
  text-align: right;
  margin-top: 2px;
  display: inline;
  float: right;
  position: relative; }

.filename-input {
  text-align: right;
  background: #F8F8F8;
  border: none;
  font-size: 18px;
  width: 475px; }

.filename-extension {
  padding-right: 25px;
  font-size: 18px; }

.edit-input {
  border: none;
  background: transparent;
  /*	background: rgba($blue, 0.1); */ }

.move-number {
  text-align: right;
  color: #0f3ffb;
  font-family: "Tron-Strong"; }

.move-number-label {
  color: #BBBBBB;
  font-style: italic;
  text-align: right;
  font-family: "Tron-Light";
  padding-right: 5px; }

.strong {
  font-family: "Tron-Strong"; }

.add-button {
  color: #DDDDDD;
  font-style: italic; }

.submit-new {
  width: 100%;
  margin-bottom: 10px; }

.add-motion-button {
  color: #DDDDDD;
  font-style: italic;
  text-align: center; }

.action-block, .action-block-gray, .action-block-white {
  position: relative;
  display: block;
  padding: 10px 10px 0px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #e7e7e7; }

.action-block-gray {
  background-color: #F8F8F8; }

.action-block-white {
  background-color: #FFFFFF; }

.navbar-pad {
  margin-top: 20px;
  margin-bottom: 30px; }

.UI-block {
  position: relative;
  display: block;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  border: 1px solid #e7e7e7; }

.UI-sub-block-white {
  position: relative;
  display: block;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  border: 1px solid #e7e7e7; }

.UI-sub-block-gray {
  position: relative;
  display: block;
  background-color: #F8F8F8;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  border: 1px solid #e7e7e7; }

.UI-sub-block-dark-gray {
  position: relative;
  display: block;
  background-color: #BBBBBB;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  border: 1px solid #e7e7e7; }

.UI-sub-block-black {
  position: relative;
  display: block;
  background-color: #000000;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  border: 1px solid #e7e7e7; }

.UI-Title {
  margin-top: 0px;
  padding-left: 10px;
  font-family: "Tron-Normal";
  color: #222222; }

.add-move-block {
  position: relative;
  display: block;
  background-color: #F8F8F8;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  text-align: center; }

.tip-change-block {
  position: relative;
  display: block;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px; }

.collapse-section {
  color: #DDDDDD;
  font-style: italic;
  text-align: right;
  padding-right: 30px; }

/* BUTTON STYLINGS */
.btn {
  border: 1px solid #ccc; }

.tron-blue {
  background-color: #0f3ffb;
  color: #FDFDFD; }

.tron-blue:hover, .tron-blue:active, .tron-blue:focus {
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 1px #888888; }

.tron-red {
  background-color: #fb3f0f;
  color: #FDFDFD; }

.tron-red:hover, .tron-red:active, .tron-red:focus {
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 1px #888888; }

.tron-black {
  background-color: #222;
  color: #FDFDFD; }

.tron-black:hover, .tron-black:active, .tron-black:focus {
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 1px #888888; }

.tron-white {
  background-color: #FFFFFF;
  color: #000000; }

.tron-white:hover, .tron-white:active, .tron-white:focus {
  color: #000000;
  font-weight: bold;
  box-shadow: 1px 1px 1px #888888; }

.tron-grey {
  background-color: #aaa;
  color: #FDFDFD; }

.tron-grey:hover, .tron-grey:active, .tron-grey:focus {
  color: #FDFDFD;
  font-weight: bold;
  box-shadow: 1px 1px 1px #888888; }

/*# sourceMappingURL=main.css.map */
