/*
Main CSS file for the OpenTrons Protocol Editor. All style elements are contained in
Sass subfiles located in the "sass_partials" folder.

"fonts_colors_mixins" MUST be the first item imported.

Gordon Hart, Jul 2015
*/
@font-face {
  font-family: "Tron-Normal";
  src: url(fonts/Geogtq-Rg-webfont.woff2); }
@font-face {
  font-family: "Tron-Strong";
  src: url(fonts/Geogtq-Sb-webfont.woff2); }
@font-face {
  font-family: "Tron-Light";
  src: url(fonts/Geogtq-Ul-webfont.woff2); }
.strong {
  font-family: "Tron-Strong" !important; }

.right {
  float: right !important; }

.left {
  float: left !important; }

nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  font-size: 1rem;
  height: 50px;
  width: 100%;
  padding: 10px 15px;
  margin-top: 25px;
  background: #222222;
  color: #FDFDFD; }

img.brand {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  height: 100%;
  float: left; }

a.nav {
  text-decoration: none;
  color: #BBBBBB;
  cursor: pointer;
  float: left;
  position: relative;
  display: inline-block;
  line-height: 30px;
  margin: 0 10px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s; }
  a.nav:hover {
    color: #FDFDFD; }

#Input {
  width: 100%; }

button {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 0 10px;
  font-size: 1rem;
  font-family: "Tron-Normal";
  color: #FDFDFD;
  background: #0f3ffb;
  cursor: pointer;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s; }
  button:hover {
    background: #4167fc; }
  button:disabled {
    cursor: default;
    color: #DDDDDD;
    background: #BBBBBB; }
  button:focus {
    outline: none; }

input[type="file"] {
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  margin: 0 10px;
  padding: 10px;
  display: inline-block;
  position: relative;
  background: #FFFFFF;
  color: #222222;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s; }
  input[type="file"]:hover {
    background: #e6e6e6; }
  input[type="file"]:focus {
    outline: none; }

input.filename {
  border-radius: 5px;
  width: 400px;
  vertical-align: middle;
  font-size: 1.5rem;
  font-family: "Tron-Normal";
  text-align: right;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s; }
  input.filename:focus {
    outline: none; }
  input.filename:hover {
    background: #FDFDFD; }

span.filename {
  font-size: 1.5rem;
  vertical-align: middle; }

#Toggle {
  width: 200px;
  float: left; }

a.item-select {
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  width: 100%;
  height: auto;
  display: inline-block;
  color: #222222;
  background: #FDFDFD;
  text-align: center;
  text-decoration: none;
  padding: 5px 0;
  margin: 2.5px 0;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s; }
  a.item-select:hover {
    background: #e4e4e4; }
  a.item-select:active {
    background: #BBBBBB; }
  a.item-select.active {
    cursor: default;
    color: #FDFDFD;
    background: #0f3ffb; }
  a.item-select:focus {
    outline: none; }

#Item {
  width: 825px;
  float: right; }

.grouping {
  /* used for Containers, Reagents */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  height: auto;
  width: calc(50% - 12px);
  margin: 5px;
  display: inline-block;
  background: #F8F8F8; }

img.pipette {
  /* pipette image */
  display: inline-block;
  height: 200px;
  margin: 0 25px;
  /*	margin: 25px auto;
  
  	right: 0;
  	left: 0; */ }

/* pipette block stylings */
div.attr {
  width: 325px;
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  border-left: 1px solid #e7e7e7; }

div.mini-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  font-size: 1rem;
  border: 1px solid #e7e7e7;
  width: calc(100% - 20px);
  margin: 0 10px;
  padding: 10px;
  background: #F8F8F8; }

span.pipette-name {
  margin: 5px 0;
  display: block;
  font-size: 1.5rem; }

div.pipette {
  padding: 0;
  margin: 0;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  width: 110px; }

div.attributes {
  padding: 0;
  margin: 0;
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 260px); }

input.save-edit {
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  background: #fb3f0f;
  color: #FDFDFD;
  vertical-align: top;
  height: 1.2rem;
  width: 40px;
  margin: 0;
  padding: 0;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s; }
  input.save-edit:hover {
    background: #fc6741; }
  input.save-edit:focus {
    outline: none; }

input.edit-input {
  font-family: "Tron-Normal";
  font-size: 1rem;
  border: none;
  background: transparent;
  width: calc(100% - 50px); }
  input.edit-input:focus {
    outline: none; }

span.edit-handle {
  padding: 1px !important;
  width: 100%; }

/* GENERIC ELEMENTS */
html {
  font-family: "Tron-Normal";
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: #FDFDFD; }

body {
  margin: 0 auto;
  display: block;
  background: #FFFFFF;
  color: #222222;
  font-size: 0;
  height: 100%;
  width: 1050px;
  overflow: scroll; }

section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  font-size: 1rem;
  border: 1px solid #e7e7e7;
  padding: 10px;
  background: #F8F8F8;
  color: #222222;
  margin-top: 25px;
  width: 100%;
  height: auto; }

section.block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  font-size: 1rem;
  border: 1px solid #e7e7e7;
  display: none;
  padding: 10px;
  width: 100%;
  background: #F8F8F8;
  color: #222222; }
  section.block.active {
    display: inline-block !important; }

header {
  /* this is being used for block headers */
  width: 100%;
  display: block;
  float: right; }

h3 {
  display: inline-block;
  margin: 0 0 10px 0;
  padding: 0 10px;
  font-size: 1.5rem;
  font-family: "Tron-Normal"; }

img.icon {
  display: inline-block;
  margin: 0 0 0 25px;
  padding: 0;
  height: 1.5rem; }

a.add-new {
  border-radius: 5px;
  margin: 0;
  padding: 1rem 0;
  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #BBBBBB;
  background: #FDFDFD;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s; }
  a.add-new:hover {
    background: #FFFFFF; }

/* ID BLOCKS */
#Instructions {
  width: 1050px; }

/* CLASS BLOCKS */
.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  font-size: 1rem;
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #FFFFFF;
  color: #222222; }

.key-value {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  margin: 5px 0; }

.key {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  padding: 5px 10px;
  display: inline-block;
  width: 125px;
  text-align: right;
  background: #F8F8F8;
  border-radius: 5px; }

.value {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  /*	padding: 2.5px 5px; /* smaller value for edit in place */
  padding: 5px 10px;
  display: inline-block;
  width: calc(100% - 125px);
  text-align: left;
  background: #FFFFFF;
  border-radius: 5px; }

/*# sourceMappingURL=main.css.map */
