{% extends 'layout.html' %}

{% block warning %}
<section id="warning">
  <div style="padding-left:30px">
    <button type="button" onclick="removeMessage('warning')" class="close" ><span >X</span></button>
    <b>!! WARNING !!</b> - - {{ message }}<br />
    <b>REASON:</b> {{ reason }}<br /><br />
    <i>Please fix the error in the given file or try again using a different protocol.</i>
  </div>
  <div><textarea id="protocol" style="visibility: hidden" >{{ protocol }}</textarea></div>
  <div style="padding-left:30px; float:right">
    <a onclick="copyToClipboard('protocol')" href="http://jsonlint.com/" target="_blank">
      <h1>Check your json file using JSONLint here</h1>
    </a>
  </div>
</section>
{% endblock %}