{% extends 'layout.html' %}

<!-- import module macros -->
{% import 'modules/information.html' as info %}
{% import 'modules/deck.html' as deck %}
{% import 'modules/ingredients.html' as ingr %}
{% import 'modules/head.html' as head %}
{% import 'modules/instructions.html' as instr %}

{% block content %}

<div class="block">
  
  <section id="Toggle">
<!--     <img class="icon" src="/static/images/ingredients.png" /><h3>Items</h3> -->
    <a class="item-select active" href="#" onclick="toggle(this, 'Information');">Information</a>
    <a class="item-select" href="#" onclick="toggle(this, 'Deck');">Deck</a>
    <a class="item-select" href="#" onclick="toggle(this, 'Head');">Head</a>
    <a class="item-select" href="#" onclick="toggle(this, 'Ingredients');">Ingredients</a>
  </section>

  <div id="Item">
    <section id="Information" class="block active">
    {{ info.render(protocol.info) }}
    </section>

    <section id="Deck" class="block">
    {{ deck.render(protocol.deck) }}
    </section>

    <section id="Head" class="block">
    {{ head.render(protocol.head) }}
    </section>

    <section id="Ingredients" class="block">
    {{ ingr.render(protocol.ingredients) }}
    </section>
  </div>

</div>

<!-- <section id="Instructions"> -->
<div class="block">
  {{ instr.render(protocol.instructions) }}
</div>
<!-- </section> -->

{% endblock %}