

{% if protocol is defined %}
<div class="row">
  <div class="col-md-6">

    {% if protocol.deck is defined %}
    <div class="UI-block center-block" id="deckItems"> <!-- START DECK -->
      <div class="collapse-in-place modalComponent mode-expanded">

        <div class="mode collapsed">
          <div class="row">
            <div class="col-md-6">
              <h3 class="UI-Title">Deck Items</h3>
            </div>
            <div class="col-md-6 collapse-section">
              <span class="collapse-handle" style="cursor:pointer;">show</span>
            </div>
          </div>
        </div>

        <div class="mode expanded">
          {{ d.deck(deckList, fileName) }}
        </div>

      </div>
    </div> <!-- END DECK -->
    {% endif %}

    {% if protocol.ingredients is defined %}
    <div class="UI-block center-block" id="Ingredients"> <!-- START INGREDIENTS -->
      <div class="collapse-in-place modalComponent mode-expanded">

        <div class="mode collapsed">
          <div class="row">
            <div class="col-md-6">
              <h3 class="UI-Title">Ingredients</h3>
            </div>
            <div class="col-md-6 collapse-section">
              <span class="collapse-handle" style="cursor:pointer;">show</span>
            </div>
          </div>
        </div>

        <div class="mode expanded">
          {{ ingr.ingredients(ingrList, fileName) }}
        </div>
        
      </div>
    </div> <!-- END INGREDIENTS -->
    {% endif %}

  </div>

  {% if protocol.head is defined %}
  <div class="col-md-6">
    <div class="UI-block center-block" id="heads"> <!-- START HEAD -->
      <div class="collapse-in-place modalComponent mode-expanded">

        <div class="mode collapsed">
          <div class="row">
            <div class="col-md-6">
              <h3 class="UI-Title">Head Items</h3>
            </div>
            <div class="col-md-6 collapse-section">
              <span class="collapse-handle" style="cursor:pointer;">show</span>
            </div>
          </div>
        </div>

        <div class="mode expanded">
          {{ h.head(headList, fileName) }}
        </div>
        
      </div>
    </div>
  </div> <!-- END HEAD -->
  {% endif %}

</div>

{% if protocol.instructions is defined %}
<div class="UI-block center-block" id="Instructions"> <!-- START INSTRUCTIONS -->
  <div class="collapse-in-place modalComponent mode-expanded">

    <div class="mode collapsed">
      <div class="row">
        <div class="col-md-6">
          <h3 class="UI-Title">Instructions</h3>
        </div>
        <div class="col-md-6 collapse-section">
          <span class="collapse-handle" style="cursor:pointer;">show</span>
        </div>
      </div>
    </div>

    <div class="mode expanded">
      {{ instr.instructions(instrList, fileName) }}
    </div>
    
  </div>
</div> <!-- END INSTRUCTIONS -->
{% endif %}

{% endif %}