{% macro edit(value, blockName) %}
  <div class="edit-in-place modalComponent mode-display">
    <div class="mode display">
      <span class="edit-handle value {{ blockName }}" style="cursor:pointer;">{{ value }}</span>
    </div>
    <div class="mode edit">
      <form action="/user/1/edit" method="post">
        <input type="text" value="{{ value }}" name="name" class="edit-input" />
        <input type="submit" value="Save" class="btn tron-red" style="padding:0px 10px 0px 10px;font-size:10px;" />
      </form>
    </div>
  </div>
{% endmacro %}

{% macro undefined(blockName) %}
  <div class="edit-in-place modalComponent mode-display">
    <div class="mode display">
      <span class="edit-handle value {{ blockName }}" style="cursor:pointer;"><span style="color:#fb3f0f">[ Undefined ]</span></span>
    </div>
    <div class="mode edit">
      <form action="/user/1/edit" method="post">
        <input type="text" value="" name="name" class="edit-input" />
        <input type="submit" value="Save" class="btn tron-red" style="padding:0px 10px 0px 10px;font-size:10px;" />
      </form>
    </div>
  </div>
{% endmacro %}