{% import 'edit.html' as editor %}

{% macro ingredients(ingrList, fileName) %}
  <div class="row">
    <div class="col-md-6">
      <h3 class="UI-Title">Ingredients</h3>
    </div>
    <div class="col-md-6 collapse-section">
      <span class="collapse-handle" style="cursor:pointer;">hide</span>
    </div>
  </div>

  {% for reagent in ingrList %}
  <div class="UI-sub-block-white reagentBlock">
    <div class="row padded-sides">
      <div class="col-md-4">
        <img src="/static/images/ingredient.png" class="icon" />
      </div>
      <div class="col-md-5">
        {{ editor.edit(value=reagent.name, blockName="reagentName") }}
      </div>
      <div class="col-md-3 hide-delete">
        <a href="javascript:void(0)" onclick="collapse('{{ reagent.name }}{{ loop.index }}', this);">hide</a> | 
        <a href="javascript:void(0)" onclick="removeDiv('reagentBlock', this);">delete</a>
      </div>
    </div>
    <div id="{{ reagent.name }}{{ loop.index }}">
    {% for location in reagent.locs %}
      <div class="UI-sub-block-gray reagentSubBlock">
        {% for key, value in location.items() %}
        <div class="row padded-sides">
          <div class="col-md-4 reagentAttrKey">
            {{ key }} <!-- not editable -->
          </div>
          <div class="col-md-8">
            {{ editor.edit(value=value, blockName="reagentAttrValue") }}
          </div>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
    </div>

    <!-- ADD INGREDIENT LOCATION SECTION -->
    <div class="row padded-sides">
      <div class="add-in-place modalComponent mode-button">
        <div class="mode button">
          <div class="col-md-12 add-button">
            <span class="add-handle" style="cursor:pointer;">Add Ingredient Location</span>
          </div>
        </div>
        <div class="mode add">
          
          <form method="post" action="/add#Ingredients" enctype="multipart/form-data" onsubmit="traverse('ingrLoc_fullJSON_{{ reagent.name }}'); addIngrLocation(this, 'ingrLoc_newJSON_{{ reagent.name }}');">
            <div class="UI-sub-block-gray">
              <div class="row padded-sides">
                <div class="col-md-4">volume</div>
                <div class="col-md-8">
                  <input type="text" class="edit-input" onClick="this.select();" size="50" name="volume" value="[ New Reagent Volume ]" />
                </div>
              </div>
              <div class="row padded-sides">
                <div class="col-md-4">container</div>
                <div class="col-md-8">
                  <input type="text" class="edit-input" onClick="this.select();" size="50" name="container" value="[ New Reagent Container ]" />
                </div>
              </div>
              <div class="row padded-sides">
                <div class="col-md-4">location</div>
                <div class="col-md-8">
                  <input type="text" class="edit-input" onClick="this.select();" size="50" name="location" value="[ New Reagent Location ]" />
                </div>
              </div>
            </div>

            <button type="submit" class="btn tron-blue submit-new">
              Confirm Addition of New Ingredient Location
            </button>

            <input type="hidden" name="parentIngredient" value="{{ reagent.name }}" />

            <input type="hidden" name="newJSON" value="json" id="ingrLoc_newJSON_{{ reagent.name }}" />
            <input type="hidden" name="fileName" value="{{ fileName }}" />
            <input type="hidden" name="fullJSON" value="json" id="ingrLoc_fullJSON_{{ reagent.name }}" />
          </form>

        </div>
      </div>
    </div> 

  </div>
  {% endfor %}

  <!-- ADD INGREDIENT SECTION -->
  <div class="row padded-sides">
    <div class="add-in-place modalComponent mode-button">
      <div class="mode button">
        <div class="col-md-12 add-button">
          <span class="add-handle" style="cursor:pointer;">Add Ingredient</span>
        </div>
      </div>
      <div class="mode add">
        <form method="post" action="/add#Ingredients" enctype="multipart/form-data" onsubmit="traverse('ingredient_fullJSON'); addIngredient(this, 'ingredient_newJSON');">

          <div class="UI-sub-block-white">
            <div class="row padded-sides">
              <div class="col-md-4"><img src="/static/images/ingredient.png" class="icon" /></div>
              <div class="col-md-8"><input type="text" class="edit-input" onClick="this.select();" size="50" name="name" value="[ New Reagent Name ]" /></div>
            </div>
            <div class="UI-sub-block-gray reagentSubBlock">
              <div class="row padded-sides">
                <div class="col-md-4 reagentAttrKey">volume</div>
                <div class="col-md-8"><input type="text" class="edit-input" onClick="this.select();" size="50" name="volume" value="[ New Reagent Volume ]" /></div>
              </div>
              <div class="row padded-sides">
                <div class="col-md-4 reagentAttrKey">container</div>
                <div class="col-md-8"><input type="text" class="edit-input" onClick="this.select();" size="50" name="container" value="[ New Reagent Container ]" /></div>
              </div>
              <div class="row padded-sides">
                <div class="col-md-4 reagentAttrKey">location</div>
                <div class="col-md-8"><input type="text" class="edit-input" onClick="this.select();" size="50" name="location" value="[ New Reagent Location ]" /></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <button type="submit" class="btn tron-blue submit-new">
                Confirm Addition of New Ingredient
              </button>
            </div>
            <div class="col-md-4">
              <span class="btn tron-grey submit-new add-handle" style="cursor:pointer;">Cancel</span>
            </div>
          </div>

          <input type="hidden" name="newJSON" value="json" id="ingredient_newJSON" />
          <input type="hidden" name="fileName" value="{{ fileName }}" />
          <input type="hidden" name="fullJSON" value="json" id="ingredient_fullJSON" />
        </form>

      </div>
    </div>
  </div>
{% endmacro %}