<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="icon" type="image/png" href="/static/images/favicon.png">

    <title>OpenTrons Protocol Editor</title>

    <link rel="stylesheet" href="/static/main.css">

    <script type="text/javascript" src="/static/js/jQuery/jquery-2.1.4.min.js"></script>

    <script type="text/javascript" src="/static/js/viewer.js"></script>
    <script type="text/javascript" src="/static/js/sender.js"></script>
    <script type="text/javascript" src="/static/js/editor.js"></script>
  </head>
    
  <body>

    <!-- EDIT IN PLACE SCRIPTS -->
    <script type="text/javascript" src="/static/js/sugar.js"></script>
    <script type="text/javascript" src="/static/js/modals/in-place.js"></script> 

    <nav>
      <img class="brand" src="/static/images/droplet-light.png" />
      <a class="nav strong" href="#">JSON Protocol Editor</a>
      <a class="nav" href="#">v0.0.3</a>
      <a class="nav" href="#">Help</a>
      <a class="nav right strong" href="#">OpenTrons</a>
    </nav>

    <section id="Input">
      <form method="post" action="/process" enctype="multipart/form-data" class="left">
        <button type="submit">Process</button>
        <input type="file" name="protocol" accept=".json" />
      </form>

      <form action="/save" method="post" class="right">
        <input class="filename" type="text" name="filename" value='{{ filename }}' onclick="this.select();" />
        <span class="filename">. json</span>
        <button type="submit" {% if filename == '[empty]' %}disabled{% endif %}>Save</button>
      </form>
    </section>

    {% if protocol is defined %}
    {% block content %}{% endblock %}
    {% endif %}

  </body>

</html>