<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.4-dist/css/bootstrap.min.css')}}">
  <!--  <link href="../static/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"><!--
    <link rel="icon" type="image/png" href="../images/favicon.png" >-->

    <title>JSON Editor</title>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/bootstrap-3.3.4-dist/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/main.css">
    <script type="text/javascript" src="../static/js/collapse.js"></script>
    <!--<script type="text/javascript" src="../static/js/editor.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script type="text/javascript" src="./js/loadFiles.js"></script> -->
  </head>
    
  <body>

    <div style="padding-top:20px;">
      <nav class="navbar navbar-default" style="margin-bottom:30px;">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="font-family:\"Trons-Strong\"" href="http://opentrons.com" target="_blank">
              <img src="../static/images/droplet-only_logo.png" height="100%">
            </a>
            <ul class="nav navbar-nav navbar-left">
              <li>
                <a href="https://github.com/gordonhart" target="_blank">JSON Protocol Editor</a>
              </li>
              <li><a href="#">v0.0.1</a></li>
            </ul>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="http://opentrons.com">OpenTrons</a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>

    <div id="main-container">

      {% block dropFile %}{% endblock %}

      {% block body %}{% endblock %}

    </div>

  </body>

</html>