<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="icon" type="image/png" href="/static/images/favicon.png">

    <title>JSON Protocol Editor</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/main.css">

    <script type="text/javascript" src="/static/js/helpers.js"></script>
    <script type="text/javascript" src="/static/js/traverse.js"></script>
    <script type="text/javascript" src="/static/js/adder.js"></script>
  </head>
    
  <body>

    <script type="text/javascript" src="/static/js/sugar.js"></script> <!-- EDIT IN PLACE SCRIPTS -->
    <script type="text/javascript" src="/static/js/modals/in-place.js"></script> <!-- these are up here to avoid ugly loading bug -->

    <nav class="navbar navbar-inverse navbar-pad">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="http://opentrons.com" target="_blank">
            <img src="/static/images/droplet-light.png" class="brand">
          </a>
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a href="#" class="strong">JSON Protocol Editor</a>
            </li>
            <li><a href="http://github.com/nwags/ProtocolEditor">v0.0.1</a></li>
            <li><a href="http://github.com/gordonhart">Help</a></li>
          </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="http://opentrons.com" class="strong">OpenTrons</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="main-container">

      <div class="UI-block center-block" id="dragDiv">
        <div class="row padded-sides">

          <form method="post" action="/process" enctype="multipart/form-data">
            <div class="col-md-1">
              <button type="submit" {% if fileName != '[empty]' %}onclick="confirmProcess('proceedID')"{% endif %} class="btn tron-blue">Process</button>
            </div>
            <div class="col-md-4">
              <input type="file" class="btn tron-white" name="fileJSON" id="fileUpload" accept=".json" />
              <!-- added this hidden element in to be able to cancel loading a new file, will prompt if a file is loaded -->
              <input type="hidden" name="proceed" value={% if fileName == '[empty]' %}"yes"{% else %}"no"{% endif %} id="proceedID" />
            </div>
          </form>

          <div class="col-md-7">

            <form action="/save" method="post" enctype="multipart/form-data" class="filename-block">
              <table><tr>
                <td><input type="text" value="{{ fileName }}" name="fileName" class="filename-input" /></td>
                <td class="filename-extension">.json</td>
                <td><button type="submit" onclick="traverse('hiddenID')" class="btn tron-blue" {% if fileName == '[empty]' %}disabled{% endif %}>Save</button></td>
                <input type="hidden" value="null" name="hiddenValue" id="hiddenID" />
              </tr></table>
            </form>

          </div>
          
        </div>
      </div>

      {% block warning %}{% endblock %}
      {% block body %}{% endblock %}

    </div>

  </body>

</html>