{% import 'edit.html' as editor %}

{% macro new(type, fileName, groupIndex) %}
<div class="UI-sub-block-gray new_{{ type }}_moveBlock" id="add_{{ type }}_{{ groupIndex }}" style="display:none;">

  <div class="row padded-sides">
    <div class="col-md-12">
      <table><tr>
      <td class="padded-sides"><b><i>Action Type:</i></b></td>
      <td class="move-icon-bar"><img src="/static/images/{{ type }}.png" class="icon" /></td>
      <td class="padded-sides"><div class="instrMove_{{ type }}">{{ type }}</div></td>
      </tr></table>
    </div>
  </div>

  <div class="row padded-sides motionBlock">

    <div class="col-md-4">
      {% if type != "mix" %}
      <div class="UI-sub-block-white">
      <img src="/static/images/from.png" class="icon">

        <div id="new_{{ type }}_from_{{ groupIndex }}" class="fromBlock">
          <div class="row">
            <div class="col-md-6">
            {{ editor.undefined("fromLocKey") }}
            </div>
            <div class="col-md-6">
            {{ editor.undefined("fromLocValue") }}
            </div>
          </div>
        </div>
        <a href="javascript:void(0)" class="add-button" onclick="addLine('new_{{ type }}_from_{{ groupIndex }}', 'fromLocKey', 'fromLocValue');">Add Attribute</a>

      </div>
      {% endif %}
    </div>
    <div class="col-md-4">
      {% if type != "mix" %}
      <div class="UI-sub-block-white">
      <img src="/static/images/to.png" class="icon">

        <div id="new_{{ type }}_to_{{ groupIndex }}" class="toBlock">
          <div class="row">
            <div class="col-md-6">
            {{ editor.undefined("toLocKey") }}
            </div>
            <div class="col-md-6">
            {{ editor.undefined("toLocValue") }}
            </div>
          </div>
        </div>
        <a href="javascript:void(0)" class="add-button" onclick="addLine('new_{{ type }}_to_{{ groupIndex }}', 'toLocKey', 'toLocValue');">Add Attribute</a>
      
      </div>
      {% endif %}
    </div>
    <div class="col-md-4">
      <div class="UI-sub-block-white">
      <img src="/static/images/attributes.png" class="icon">

        <div id="new_{{ type }}_attr_{{ groupIndex }}" class="attrBlock">
          <div class="row">
            <div class="col-md-6">
            {{ editor.undefined("otherAttrKey") }}
            </div>
            <div class="col-md-6">
            {{ editor.undefined("otherAttrValue") }}
            </div>
          </div>
        </div>
        <a href="javascript:void(0)" class="add-button" onclick="addLine('new_{{ type }}_attr_{{ groupIndex }}', 'otherAttrKey', 'otherAttrValue');">Add Attribute</a>

      </div>
    </div>
  </div>
  <div class="row padded-sides">
    <div class="col-md-12 add-motion-button">To add new Motions, first confirm addition of this Action.</div>
  </div>
  <div class="tip-change-block">
    - - - - - <img src="/static/images/tipchange.png" class="tipchange" /> - - - - -
  </div>

  <div class="row padded-sides">
    <div class="col-md-12">
      <form method="post" action="/refresh#Instructions" enctype="multipart/form-data" onsubmit="traverse('new_{{ type }}_JSON_{{ groupIndex }}');">
        <div class="row">
          <div class="col-md-8">
            <button type="submit" onclick="addInstruction(document.getElementById('add_{{ type }}_{{ groupIndex }}'), '{{ type }}');" class="btn tron-blue submit-new">
              Confirm Addition of {{ type }}
            </button>
          </div>
          <div class="col-md-4">
            <button class="btn tron-grey submit-new" style="cursor:pointer;">Cancel</button>
          </div>
        </div>

        <input type="hidden" name="fileName" value="{{ fileName }}" />
        <input type="hidden" name="fullJSON" value="json" id="new_{{ type }}_JSON_{{ groupIndex }}" />
      </form>
    </div>
  </div>

</div>
{% endmacro %}

