{% import 'edit.html' as editor %}

{% macro new(fileName) %}
<div class="add-in-place modalComponent mode-button">

  <div class="mode button">
    <div class="row padded-sides">
      <div class="col-md-12 add-button">
        <span class="add-handle" style="cursor:pointer;">Add New Head Item</span>
      </div>
    </div>
  </div>

  <div class="mode add">

    <div class="UI-sub-block-white new_headItem">
      <div class="row padded-sides">
        <div class="col-md-4">
          <img src="/static/images/tool.png" class="icon" />
        </div>
        <div class="col-md-8">
          {{ editor.undefined("new_headName") }}
        </div>
      </div>

      <div id="new_head">
        <div class="UI-sub-block-gray">
          <div class="row">
            <div class="col-md-1">
              <img src="/static/images/pipette.png" class="pipette" />
            </div>
            <div class="col-md-11">
              <div class="row padded-sides">
                <div class="col-md-4">
                  <b><i>TYPE:</i></b>
                </div>
                <div class="col-md-8">
                  {{ editor.undefined("new_headType") }}
                </div>
              </div>
              <div class="row padded-sides">
                <div class="col-md-4">
                  <b><i>TRASH:</i></b>
                </div>
                <div class="col-md-8">
                  {{ editor.undefined("new_headTrash") }}
                </div>
              </div>
              <div class="row padded-sides">
                <div class="col-md-4">
                  <b><i>TIP RACK(S):</i></b>
                </div>
                <div class="col-md-8">
                  {{ editor.undefined("new_headTipRack") }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <br />
        <div class="padded-sides">
          <img src="/static/images/attributes.png" class="icon" />
           
          <div id="new_head_attributes">  
            <div class="row zebra">
              <div class="col-md-6">
                {{ editor.undefined("new_headAttrKey") }}
              </div>
              <div class="col-md-5">
                {{ editor.undefined("new_headAttrValue") }}
              </div>
              <div class="col-md-1 hide-delete">
                <a href="javascript:void(0)" onclick="removeDiv('zebra', this);">&times;</a>
              </div>
            </div>
          </div>
          <a href="javascript:void(0)" class="add-button" onclick="addZebra('new_head_attributes', 'new_headAttrKey', 'new_headAttrValue');">Add Attribute</a>

          <br /><br />

          <div class="row">
            <div class="col-md-12">
              <img src="/static/images/points.png" class="icon" />
            </div>
          </div>
          <div id="new_points">
            <div class="new_pointSet">
              <div class="row zebra">
                <div class="col-md-6">
                  {{ editor.edit(value="f1", blockName="new_pointName") }}
                </div>
                <div class="col-md-6">
                  {{ editor.undefined("new_pointValue") }}
                </div>
              </div>
              <div class="row zebra">
                <div class="col-md-6">
                  {{ editor.edit(value="f2", blockName="new_pointName") }}
                </div>
                <div class="col-md-6">
                  {{ editor.undefined("new_pointValue") }}
                </div>
              </div>
            </div>
          </div>
          <a href="javascript:void(0)" class="add-button" onclick="addPoint('new_points', 'new_pointName', 'new_pointValue');">Add Point</a>

        </div>
      </div>
    </div>

    <form method="post" action="/refresh" enctype="multipart/form-data" onsubmit="addHeadItem(this.parentNode); traverse('head_fullJSON');">
      <div class="row">
        <div class="col-md-8">
          <button type="submit" class="btn tron-blue submit-new">
            Confirm Addition of New Head Item
          </button>
        </div>
        <div class="col-md-4">
          <span class="btn tron-grey submit-new add-handle" style="cursor:pointer;">Cancel</span>
        </div>
      </div>

      <input type="hidden" name="fileName" value="{{ fileName }}" />
      <input type="hidden" name="fullJSON" value="json" id="head_fullJSON" />
    </form>

  </div>

</div>

{% endmacro %}