{% import 'edit.html' as editor %}

{% macro new(fileName, type, index) %}

<div class="add-in-place modalComponent mode-button">
  <div class="mode button">
    <div class="row">
      <div class="col-md-12 add-motion-button">
        <span class="add-handle" style="cursor:pointer;">
        {% if type == "transfer" %}Add Transfer Motion [using same tip]
        {% elif type == "distribute" %}Add Distribute "To" Location
        {% elif type == "consolidate" %}Add Consolidate "From" Location
        {% elif type == "mix" %}Add Mix [using same tip]{% endif %}
        </span>
      </div>
    </div>
  </div>

  <div class="mode add">
    <div class="row padded-sides new_motionBlock">
      <div class="col-md-4">
        {% if type == "transfer" or type == "consolidate" %}
        <div class="UI-sub-block-white new_fromBlock">
        <img src="/static/images/from.png" class="icon">

          <div id="new_from_{{ index }}">
            <div class="row">
              <div class="col-md-6">
                {{ editor.undefined("fromLocKey") }}
              </div>
              <div class="col-md-6">
                {{ editor.undefined("fromLocValue") }}
              </div>
            </div>
          </div>
          <a href="javascript:void(0)" class="add-button" onclick="addLine('new_from_{{ index }}', 'fromLocKey', 'fromLocValue');">Add Attribute</a>

        </div>
        {% endif %}
      </div>

      <div class="col-md-4">
        {% if type == "transfer" or type == "distribute" %}
        <div class="UI-sub-block-white new_toBlock">
        <img src="/static/images/to.png" class="icon">

          <div id="new_to_{{ index }}">
            <div class="row">
              <div class="col-md-6">
                {{ editor.undefined("toLocKey") }}
              </div>
              <div class="col-md-6">
                {{ editor.undefined("toLocValue") }}
              </div>
            </div>
          </div>
          <a href="javascript:void(0)" class="add-button" onclick="addLine('new_to_{{ index }}', 'toLocKey', 'toLocValue');">Add Attribute</a>

        </div>
        {% endif %}
      </div>

      <div class="col-md-4">
        {% if type == "transfer" or type == "mix" %}
        <div class="UI-sub-block-white new_attrBlock">
        <img src="/static/images/attributes.png" class="icon">

          <div id="new_attr_{{ index }}">
            <div class="row">
              <div class="col-md-6">
                {{ editor.undefined("otherAttrKey") }}
              </div>
              <div class="col-md-6">
                {{ editor.undefined("otherAttrValue") }}
              </div>
            </div>
          </div>
          <a href="javascript:void(0)" class="add-button" onclick="addLine('new_attr_{{ index }}', 'otherAttrKey', 'otherAttrValue');">Add Attribute</a>

        </div>
        {% endif %}
      </div>

      <form method="post" action="/refresh#Instructions" enctype="multipart/form-data" onsubmit="addMotion(this.parentNode);traverse('motion_fullJSON_{{ index }}');">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8">
              <button type="submit" class="btn tron-blue submit-new">
                Confirm Addition of New Motion
              </button>
            </div>
            <div class="col-md-4">
              <span class="btn tron-grey submit-new add-handle" style="cursor:pointer;">Cancel</span>
            </div>
          </div>
        </div>
        <input type="hidden" name="fileName" value="{{ fileName }}" />
        <input type="hidden" name="fullJSON" value="json" id="motion_fullJSON_{{ index }}" />
      </form>

    </div>
  </div>

</div>
{% endmacro %}