{% import 'helpers/keyvalue.html' as kv %}
{% import 'helpers/deleter.html' as d %}

{% macro render(section) %}

<img class="icon" src="/static/images/instructions.png" /><h3>Instructions</h3>

{% for group in section %}
<div class="instruction-group">
	{% set groupnumber = loop.index0 %}

	{% for tip in group.groups %}
	{% set movenumber = loop.index %}
	<div id="instructions.{{ groupnumber }}.{{ movenumber - 1 }}" class="action-block {% if movenumber == 1 and groupnumber == 0 %}view{% endif %}">

		{% for movetype in tip %}
		{# <!-- Realistically, there will only ever be one attribute here --> #}
		<div class="action-header" onclick="view(this.parentNode);">
			<span class="action-number">{{ movenumber }}</span>
			<span class="action-tool">{{ group.tool }}</span>
			<span class="action-title">
				<img class="action-icon" src="/static/images/{{ movetype }}.png" />
				{{ movetype }}
			</span>
		</div>
		{% endfor %}

		{% if tip.transfer is defined %}

		{% for move in tip.transfer %}
		<div class="action-attributes">
			<img src="/static/images/from.png" class="label" />
			{% for key in move.from %}
			{{ kv.pair(key=key, value=move.from[key] )}}
			{% endfor %}
		</div>

		<div class="action-attributes">
			<img src="/static/images/to.png" class="label" />
			{% for key in move.to %}
			{{ kv.pair(key=key, value=move.to[key] )}}
			{% endfor %}
		</div>

		<div class="action-attributes">
			<img src="/static/images/attributes.png" class="label" />
			{% for attribute in move %}
			{% if (attribute != 'from') and (attribute != 'to') %}
			{{ kv.pair(key=attribute, value=move[attribute] )}}
			{% endif %}
			{% endfor %}
		</div>
		{% endfor %}


		{% elif tip.distribute is defined %}
		<div class="action-attributes">
			<img src="/static/images/from.png" class="label" />
			{% for key in tip.distribute.from %}
			{{ kv.pair(key=key, value=tip.distribute.from[key] )}}
			{% endfor %}
		</div>

		<div class="action-attributes">
			<img src="/static/images/to.png" class="label" />
			{% for location in tip.distribute.to %}
			<div class="action">
				{% for key in location %}
				{{ kv.pair(key=key, value=location[key] )}}
				{% endfor %}
			</div>
			{% endfor %}
		</div>

		<div class="action-attributes">
			<img src="/static/images/attributes.png" class="label" />
			{% for attribute in tip.distribute %}
			{% if (attribute != 'from') and (attribute != 'to') %}
			{{ kv.pair(key=attribute, value=tip.distribute[attribute] )}}
			{% endif %}
			{% endfor %}
		</div>
		

		{% elif tip.consolidate is defined %}
		<div class="action-attributes">
			<img src="/static/images/from.png" class="label" />
			{% for location in tip.consolidate.from %}
			<div class="action">
				{% for key in location %}
				{{ kv.pair(key=key, value=location[key] )}}
				{% endfor %}
			</div>
			{% endfor %}
		</div>

		<div class="action-attributes">
			<img src="/static/images/to.png" class="label" />
			{% for key in tip.consolidate.to %}
			{{ kv.pair(key=key, value=tip.consolidate.to[key] )}}
			{% endfor %}
		</div>

		<div class="action-attributes">
			<img src="/static/images/attributes.png" class="label" />
			{% for attribute in tip.consolidate %}
			{% if (attribute != 'from') and (attribute != 'to') %}
			{{ kv.pair(key=attribute, value=tip.consolidate[attribute] )}}
			{% endif %}
			{% endfor %}
		</div>
		

		{% elif tip.mix is defined %}
		{% for mix in tip.mix %}
		<div class="content">
			{% for attribute in mix%}
			{{ kv.pair(key=attribute, value=mix[attribute]) }}
			{% endfor %}
		</div>
		{% endfor %}

		{% endif %}

		{{ d.draw_right() }}

	</div>
	{% endfor %}

	<a type="instructions" href="javascript:void(0);" class="add" onclick="edit_add('instructions');">New Instruction</a> 

</div>
{% endfor %}

{% endmacro %}