/* BUTTON STYLINGS */

/*
.btn{
	border: 1px solid #ccc;
}

.tron-blue {
	background-color: $blue;
	color:$light;
}

.tron-blue:hover, .tron-blue:active, .tron-blue:focus {
	color:white;
	font-weight: bold;
	@include shadow;
}

.tron-red {
	background-color: $red;
	color:$light;
}

.tron-red:hover, .tron-red:active, .tron-red:focus {
	color:white;
	font-weight: bold;
	@include shadow;
}

.tron-black {
	background-color: #222;
	color:$light;
}

.tron-black:hover, .tron-black:active, .tron-black:focus {
	color:white;
	font-weight: bold;
	@include shadow;
}

.tron-white {
	background-color: $white;
	color:$black;
}

.tron-white:hover, .tron-white:active, .tron-white:focus {
	color:$black;
	font-weight: bold;
	@include shadow;
}

.tron-grey {
	background-color: #aaa;
	color:$light;
}

.tron-grey:hover, .tron-grey:active, .tron-grey:focus {
	color:$light;
	font-weight: bold;
	@include shadow;
}
*/