nav {
	@include block;

	height: 50px;
	width: 100%;

	padding: 10px 15px;
	margin-top: 25px;

	background: $fade-black;
	color: $light;
}

img.brand {
	display: inline-block;

	margin: 0 10px;
	padding: 0;

	height: 100%;
	float: left;
}

a.nav {
	text-decoration: none;

	color: $darkest-gray;
	cursor: pointer;

	float: left;
	position: relative;

	display: inline-block;

	line-height: 30px;

	margin: 0 10px;

	@include transition(0.25s);

	&:hover {
		color: $light;
	}
}