section#InstructionsToggle {
	width: 200px;
	height: auto;
	max-height: calc(100% - 50px);

	overflow-y: scroll;
	float: left;

	&.sticky {
		position: fixed;
		top: 0px;
	}
}

section#InstructionsDisplay {
	width: 825px;
	float: right;
}

input[type="checkbox"] {
	width: 16px;
	height: 16px;
}

div.instruction-group-nav {
	@include block;
	@include border($border-gray);

	padding: 10px;
	margin: 5px 0;

	width: 100%;
	height: auto;

	background: $white;
	color: $fade-black;	
}

div.action-block-nav {
	@include no_highlight;
	@include block;
	@include border($border-gray);

	background: $gray;
	color: $fade-black;

	cursor: pointer;

	width: 100%;
	height: auto;

	padding: 5px 0;
	margin: 2.5px 0;

	text-align: center;

	&.view {
		background: $blue !important;
		color: $light !important;
	}

	&:hover {
		background: darken( $light, 10% );
		color: $fade-black;
	}
}

div.instruction-group {
	@include block;
	@include border($border-gray);

	padding: 10px;
	margin-bottom: 10px;

	width: 100%;
	height: auto;

	background: $white;
	color: $fade-black;
}

div.action-block {
	@include block;
	@include border($border-gray);

	background: $gray;
	color: $fade-black;

	width: 100%;
	height: 2rem;

	overflow: hidden;

	padding: 5px 0;
	margin: 2.5px 0;

	text-align: center;

	&.view {
		height: auto !important; /* just for now */

		&:hover {
			background: $gray;
			color: $fade-black;
		}
	}

	&:hover {
		background: darken( $light, 10% );
		color: $fade-black;
	}
}

div.action-header {
	display: block;
	height: 1rem;
	padding-bottom: 0.5rem;

	cursor: pointer;
}

div.action-header-nav {
	@include no_highlight;
	cursor: default;

	display: block;
	height: 1rem;
	padding-bottom: 0.5rem;
}

span.action-number {
	float: left;
	width: 35px;

	margin-left: 5px;

	text-align: left;
	font-family: "Tron-Strong";
}

span.action-tool {
	float: left;
	width: auto;

	margin-right: 15px;

	font-style: italic;
}

span.action-title {
	float: left;
	text-align: right;
	
	width: auto;
	padding: 0 10px;
}

img.action-icon {
	height: 1rem;
	vertical-align: top;

	background: $white;
	border-radius: 5px;
}

h5.action-tool {
	width: 100%;
	font-size: 1.2rem;

	text-align: center;

	padding-bottom: 5px;
	border-bottom: 1px solid $border-gray;
	margin: 15px 0 5px 0;
}


/***** INSTRUCTIONS *****/

div.action {
	@include border($border-gray);
	@include block;

	padding: 10px;
	margin-bottom: 10px;

	width: 100%;
	background: $gray;

	display: block;
	position: relative;
}

div.action-attributes {
	@include border($border-gray);
	@include block;

	padding: 10px;
	margin: 0 10px 10px 10px;

	width: calc(33% - 20px);
	background: $white;

	display: inline-block;
	position: relative;
	vertical-align: top;

	text-align: left;
}


a.item-select {
	@include round_corners;
	@include border($border-gray);

	width: 100%;
	height: auto;

	display: inline-block;

	color: $fade-black;
	background: $light;

	text-align: center;
	text-decoration: none;

	padding: 5px 0;
	margin: 2.5px 0;

	@include transition(0.25s);
	&:hover {
		background: darken( $light, 10% );
	}
	&:active {
		background: $darkest-gray;
	}

	&.active {
		cursor: default;
		color: $light;
		background: $blue;
	} 

	&:focus {
		outline: none;
	}
}